:root {
  --f-family: "Satoshi-Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("@/assets/fonts/Satoshi-Variable.woff2") format("woff2"),
      url("@/assets/fonts/Satoshi-Variable.woff") format("woff");
}

body {
  font-family: var(--f-family);
  font-feature-settings: "ss01" 1, "ss03" 1, "liga" 0, "kern" 1;
}
